{% extends 'base.html' %}

<head>

</head>
{% block content %}

<div class="container">
    <div class="row">

        <div class="jumbotron">
          <!--<h1>Hello</h1>-->
          <!--<p>You are on your Dashboard</p>-->
        <form name="classForm" id="form1">
            <table class="table"  border="0px" >
            <tr>
            <td width="300px" colspan="3">
                      <label>Class_id:</label>
                    <select class="form-control" name="class_id">
                     <option value="1">1</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                   </select>
            </td>


            <td width="300px" colspan="3">
                      <label >Version:</label>
                    <input class="form-control" type="text" name="version" size="5" >
            </td>
            </tr>
            </table>

           <table class="table"  id="table_class1" border="1px" >
               <tr>
                    <td> <center><input class="btn btn-info" type = "submit" id = "submit" value = "Add attribute"></center></td>
                </tr>
            <tr>
                <td>
                <table class="table"  id="table_class" border="0px" >

                <!--<form name="attributeForm">-->
                <tr>

                    <td >
                        <label>AttributeID</label>
                    </td>

                    <td >
                        <label >AttributeName</label>
                    </td>

                    <td >
                        <label >AttributeType</label>
                    </td>
                  <td >
                      <label >AttributeSize</label>
                  </td>
                </tr>

                 <tr>


                    <td width="300px">
                       <input class="form-control" type="text" name="AttributeID1" value="1">
                    </td>

                    <td width="300px">
                       <input class="form-control" type="text" name="AttributeName1" value="logical_name">
                    </td>

                    <td width="300px">
                        <input class="form-control" type="text" name="AttributeType1" value="">
                    </td>
                  <td width="300px">
                    <input class="form-control" type="text" name="AttributeSize1" value="6">
                  </td>


                </tr>
                <!--</form>-->

        </table>
                </td>
</tr>
           </table>

     <table class="table"  id="table_class3" border="1px" >
         <tr>

             <td> <center> <input class="btn btn-info"type ="submit" id = "methodsubmit" value = "Add method"></center></td>
         </tr>
<br>

<tr>
    <td>

              <table class="table" id="table_methode" border="0px" >

                <!--<form name="attributeForm">-->
                <tr>
                    <!--<td width="300px" >-->
                        <!--&lt;!&ndash;<button id="add-another" name="button1" onclick="addTab()">+</button>&ndash;&gt;-->

                    <!--</td>-->
                    <td >
                        <label>MethodID</label>
                    </td>

                    <td >
                        <label >MethodName</label>
                    </td>

                    <td  >
                        <label >MethodType</label>
                    </td>

                </tr>


                <!--</form>-->

                </table>
    </td>
</tr>
     </table>

    <center>
    <input class="btn btn-primary" type="submit" value="Generate" onclick="test()">
        </center>
            <!--<input type="file" id="fiad" onchange="selectFolder(event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple />-->
            <!--<input   type="file" value="YourDefaultPathAndFilename.AndExtension">-->


        </form>

    </div>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
<!--<script type="text/javascript">-->
      <!--function addTab() {-->
       <!--element = $('<input type="text"/>');-->
       <!--$("#table_class").append(element);-->
       <!--return false;-->
        <!--}-->
<!--</script>-->
{% endblock %}
