{% extends 'base.html' %}
{% load staticfiles %}
<head xmlns:border="http://www.w3.org/1999/xhtml">

</head>
{% block content %}
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.1/processing-api.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<script src="../static/js/jquery.min.js"></script>
<!--<script src="../static/js/bootstrap.min.js"></script>-->
<script src="../static/js/easyTree.min.js"></script>
<link href="{% static 'css/easyTree.min.css' %}" rel="stylesheet">

</head>

<div class="container">
      <div class="row">

            <!--******************************************************-->
<div class="col-lg-3">
            <div class="panel panel-primary">
                <center>
                    <h3 class="text-success">TestCase list</h3>
                </center>
                <div class="easy-tree">
                    <form id="listTest" method="post">
                        {% csrf_token %}
                        <ul>
                            {% for item in tree.children %}
                            <li>
                                {{ item.name }}
                                {% if item.children %}
                                {% endif %}
                                <ul id="myid">

                                    {% for d in item.children %}
                                    <li>
                                        {% if d.children %}
                                        {% endif %}
                                      <a id="{{item.name}}\\{{d.name}}" class="text-muted"
                                                   data-toggle="collapse"
                                                   onclick="m(this.id);href='#display';">{{ d.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-9">

                        </div>
                        <div class="col-lg-3">
                            <a href="#menu" class="btn btn-sm btn-primary pull-right" data-toggle="collapse"
                               role="menu" aria-expanded="false" onclick="VisibleTest();">Add Test</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
             <div class="col-md-9" id="divDisplay">
            <div class=" panel-default">
                <div class="panel-body">
                    <div class="collapse menu" id="display" tabindex="-1" role="dialog" aria-labelledby="">
                        <div class="modal-content modal-lg" role="document">
                            <div class="modal-content" id="textareaContent">

                                    <form name="editFormTest" id="EditFormTest" action="/editTest" method="post" enctype="multipart/form-data">{% csrf_token %}
                                        <input type="hidden" name="prdt" id="prdt" value="{{product}}">

               </select>



                                        <div id="editTestDiv">

                                        </div>
                                    </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-md-9" id="addTest" width="75%">
            <div class=" panel-default">
                <div class="panel-body">
                    <div class="collapse menu" id="menu" tabindex="-1" role="dialog" aria-labelledby="" width="75%">
                        <div class="modal-content modal-smll" role="document" >
                            <div class="modal-content" >

                                <div class="modal-header" id="content">
                                    <button type='button' class='close'
                                            onclick='$(this).parent().parent().parent().parent().parent().parent().parent().hide();'>
                                        ×
                                    </button>
                                    <center>

                                    </center>
     <form name="testForm" id="formT" action="/generateTest" method="post" enctype="multipart/form-data">
                {% csrf_token %}
         <div class="col-xs-3 col-md-3">


    <select name="ProductList" id="ProductList" class="form-control" onchange="displayProduct(this.value)">
                   <option selected>Select Product</option>
                                                    {% for item in treeP.children %}
                                  <option type="{{ item.name }}">{{ item.name }}
                                                    </option>
                                                    {% endfor %}
               </select>

<hr>



        <select name="AssociationName" id="AssociationName" class="form-control" onchange="displayAssociation(this.value)">
                   <option selected>Select AssociationName</option>
                    <option >Public</option>
                    <option >MNGT</option>
                    <option >pre</option>

        </select>
<hr>
          <div class="checkbox">
    <label><input type="checkbox" value="1" id="1" name="access" onclick="getcheck1(this.value)"><b>check Access right</b></label>
</div>
             <div class="checkbox">
                 <label><input type="checkbox" value="2" id="2" name="firm" onclick="getcheck2(this.value)"><b>Firmware upgrade</b></label>
</div>
             <div id="c"></div>
 <input type="submit" value="GetObjectDictionnary" class="btn btn-success">
            </div>





         <!--<input type="submit" value="save product" >-->

                 <div id="action" class="col-xs-3 col-md-3"></div>

         <!--<div id="objectDiv" class="col-xs-3 col-md-3">-->
            <!--<select name="ObjectList" id="ObjectList" class="form-control" onchange="();" disabled="true">-->
                   <!--<option selected>Select Object</option>-->
                                                    <!--{% for item in treeP.children %}-->
                                                             <!--{% if item.name == 'G1product'%}-->

                                                                <!--{% for f in item.children %}-->
                                                                <!--{% for d in f.children%}-->



                                  <!--<option type="{{ d.name }}">{{ d.name }}-->
                                                    <!--</option>-->
                                                    <!--{% endfor %}{% endfor %}-->
                <!--{% endif %}-->

                <!--{% endfor %}-->
               <!--</select>-->

         <!--</div>-->



      </form>

                                    <!--********************-->

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <!--*************************************************************-->

        </div>
    </div>
</div>



<!--<script src="/static/js/jquery.min.js"></script>-->
<script type="text/javascript" src="/static/js/scriptTest.js"></script>
<script>


<!--**********************-->***************************
check=""
function getcheck1(value)
{
check=value;

var html = [
   '<input type="hidden"  value="'+check+'" id="check" name="check">',
].join('');
document.getElementById('c').innerHTML =html;
}
function getcheck2(value)
{
check=value;

var html = [
   '<input type="hidden"  value="'+check+'" id="check" name="check">',
].join('');
document.getElementById('c').innerHTML =html;
}

var ProductName='';
function displayProduct(value)
{

<!--ProductName=value;-->
<!--&lt;!&ndash;alert("ProductName"+ProductName)&ndash;&gt;-->
<!--var html = [-->
    <!--'<select name="action" id="action" class="form-control" size="4" onchange="GetObjectDictionnary();">',-->
           <!--'<option value="GET">GET</option>',-->
           <!--'<option value="SET">SET</option>',-->
           <!--'<option value="ACTION">ACTION</option>',-->
           <!--'<option value="WAIT">WAIT</option>',-->
               <!--'</select><input type="hidden"  value="'+ProductName+'" id="pr" name="pr">',-->
<!--].join('');-->
<!--document.getElementById('action').innerHTML =html;-->
<!--&lt;!&ndash;document.getElementById('t').value=ProductName;&ndash;&gt;-->

}

<!--********************************************-->
function VisibleTest() {

            if (document.getElementById('addTest')) {

                    document.getElementById('addTest').style.display = 'block';
                    document.getElementById('divDisplay').style.display = 'none';

            }
}
<!--*****************************************-->
 function m(valueSent) {
  if (document.getElementById('addTest')) {
                    document.getElementById('addTest').style.display = 'none';
                    document.getElementById('divDisplay').style.display = 'block';
            }
  $('#addTest').modal('hide')
     var element = $(this);
     $.post(element.attr('href'), { flag: element.data(valueSent)});
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}





var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}




$.ajaxSetup({

    beforeSend: function(xhr, settings) {

        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

      $.ajax({
          type: "POST",
          cache: true,
          url: "/editTestCase/",
          data:  { id : valueSent,'csrfmiddlewaretoken': window.CSRF_TOKEN },


          success: function(result) {

          <!--document.getElementById('listOb').style.visibility="visible";-->

if(result.checkRes=="True")
            {
            value="False";
            }
            else
            {value="True";}

if (result.function=="ActionRequest"){
var html = [' <center> <table class="table" id="values"><tr> <h2><span class="label label-success">Edit ACTION Settings</span></h2>',
'<input type="hidden" name="test" id="nb" value='+ valueSent +'></tr>',
'<tr><td><label> Step Id </label></center></td> <td><input class="form-control" type="text" name="stepId" id="stepId" value="'+result.identifiant+'">',
'<input class="form-control" type="hidden" name="OldstepId" id="stepId" value="'+result.identifiant+'"></td></tr>',
'<tr> <td><label> Purpose</label></center></td>',
' <td> <input class="form-control" type="text" name="purpose" id="purpose" value="'+result.purpose+'">',
'<input class="form-control" type="hidden" name="Oldpurpose" id="purpose" value="'+result.purpose+'"></td></tr><tr>',
'<td><label>Decription</label></center></td>',
'<td><input class="form-control" type="text" name="desc" id="desc" value="'+result.descr+'">',
'<input class="form-control" type="hidden" name="Olddesc" id="desc" value="'+result.descr+'"></td></tr>',
' <tr><td><label>Expected Value</label></center></td><td><select name="expected" class="form-control">',
'<option value="'+result.checkRes+'" selected>'+result.checkRes+'</option>',
'<option value="'+value+'">'+value+'</option>',
'</select>',
'<input type="hidden" name="OldExp" id="nb" value='+ result.checkRes +'>',
'<input type="hidden" name="object" id="nb" value='+ result.objectName +'>',
'</td>',
'</tr></table></center><center><input type="submit" value="EditXML" class="btn btn-success"></center>',
].join('');
}
else if (result.function=="WriteRequest")
{

var html = [' <center> <table class="table" id="values"><tr> <h2><span class="label label-success"> EDIT SET Settings</span></h2>',
'<input type="hidden" name="action" id="nb" value= "WriteRequest" ><input type="hidden" name="test" id="nb" value='+ valueSent +'></tr>',
'</tr><tr><td><label> Step Id </label></td> <td><input class="form-control" type="text" name="stepId" id="stepId" value="'+result.identifiant+'">',
'<input class="form-control" type="hidden" name="OldstepId" id="stepId" value="'+result.identifiant+'"></td></tr>',
'<tr><td><label>Input value</label></td><td><input class="form-control" type="text" name="inValue" id="inValue" value="'+result.valV+'"><input class="form-control" type="hidden" name="OldinValue" id="inValue" value="'+result.valV+'"></td></tr>',
'<tr> <td><label> Purpose</label></td>',
' <td> <input class="form-control" type="text" name="purpose" id="purpose" value="'+result.purpose+'" ><input class="form-control" type="hidden" name="Oldpurpose" id="purpose" value="'+result.purpose+'"></td></tr>',
'<tr><td><label>Decription</label></td>',
'<td><input class="form-control" type="text" name="desc" id="desc" value="'+result.descr+'"><input class="form-control" type="hidden" name="Olddesc" id="desc" value="'+result.descr+'"></td></tr>',
' <tr><td><label>Expected Value</label></td><td><select name="expected" class="form-control">',
'<option value="'+result.checkRes+'" selected>'+result.checkRes+'</option>',
'<option value="'+value+'">'+value+'</option>',
'</select>',
'<input type="hidden" name="OldExp" id="nb" value='+ result.checkRes +'>',
'</td>',
'</tr></table></center><center><input type="submit" value="EditXML" class="btn btn-success"></center>',
].join('');
}
else if (result.function=="ReadRequest")
{
var html = [' <center> <table class="table" id="values"><tr><input type="hidden" name="test" id="nb" value='+ valueSent +'> <h2><span class="label label-success">EDIT GET Settings</span></h2>',
'</tr><tr><input type="hidden" name="action" id="nb" value= "ReadRequest" ><td><center><label> Step Id </label></center></td> <td><input class="form-control" type="hidden" name="OldstepId" id="stepId" value="'+result.identifiant+'"><input class="form-control" type="text" name="stepId" id="stepId" value="'+result.identifiant+'"></td>',
' <td><center><label>Expected value</label></center></td><td><input class="form-control" type="text" name="exValue" id="exValue" value="'+result.valV+'"><input class="form-control" type="hidden" name="OldexValue" id="exValue" value="'+result.valV+'"></td>',
' <td><center><label> Purpose</label></center></td>',
' <td> <input class="form-control" type="text" name="purpose" id="purpose" value="'+result.purpose+'"><input class="form-control" type="hidden" name="Oldpurpose" id="purpose" value="'+result.purpose+'"></td>',
'<td><center><label>Decription</label></center></td>',
'<td><input class="form-control" type="text" name="desc" id="desc" value="'+result.descr+'"><input class="form-control" type="hidden" name="Olddesc" id="desc" value="'+result.descr+'"></td></tr> </table></center> <center><input type="submit" value="EditXML" class="btn btn-success"></center>'].join('');

}
else if (result.function=="TimeSleep")
{
var html = [' <center> <table class="table" id="values"><tr> <h2><span class="label label-success">Edit TimeSleep Settings</span></h2><input type="hidden" name="test" id="nb" value='+ valueSent +'>',
'</tr><tr><input type="hidden" name="action" id="nb" value= "TimeSleep" ><td><center><label> Step Id </label></center></td> <td><input class="form-control" type="text" name="stepId" id="stepId" value="'+result.identifiant+'"></td></tr>',
' <tr><td><center><label>Input value</label></center></td><td><input class="form-control" type="text" name="inValue" id="inValue" value="'+result.valueT+'"><input class="form-control" type="hidden" name="OldinValue" id="inValue" value="'+result.valueT+'"></td></tr>',
'<tr> <td><center><label> Purpose</label></center></td>',
' <td> <input class="form-control" type="text" name="purpose" id="purpose" value="'+result.purpose+'"></td></tr>',
'<tr><td><center><label>Decription</label></center></td>',
'<td><input class="form-control" type="text" name="desc" id="desc" value="'+result.descr+'"></td>',

'</tr></table></center><center><input type="submit" value="EditXML" class="btn btn-success"></center>',
].join('');
}



document.getElementById('editTestDiv').innerHTML =html;




            }



        });

}
<!--*********************************************-->


function check()
{
$(".checkboxContainer").hover(
    function() {
        $(this).find(".infoCheckbox:first").show();
    },
    function() {
        $(this).find(".infoCheckbox:first").hide();
    }
);}
(function ($) {
        function init() {
            $('.easy-tree').EasyTree({
                addable: false,
                editable: false,
                deletable: false
            });
        }
        window.onload = init();
    })(jQuery)
    <!--**********************************************-->

</script>


{% endblock %}

{% block javascript %}
{% endblock %}

