
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<head>

    <style>
         .col-md-9 {
    width: 73%;
    .classInput{
           width: 50%;
          }
          .classCheckbox{
          text-align: center;
          }
          .classCheckbox1{
          text-align: center;
          }
    </style>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!--<script src="../static/js/jquery.min.js"></script>-->
    <script src="../static/js/easyTree.min.js"></script>
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <link href="{% static 'css/easyTree.min.css' %}" rel="stylesheet">
</head>
<body>
{% csrf_token %}
<p class="bs-component">
<div class="row">
    <div class="container">
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <center>
                    <h3 class="text-success">Objects list</h3>
                </center>
                <div class="easy-tree">
                    <form id="myIDid" method="post">
                        {% csrf_token %}
                        <ul>
                            {% for item in tree.children %}
                            <li>
                                {{ item.name }}
                                {% if item.children %}
                                {% endif %}
                                <ul id="myid">

                                    {% for d in item.children %}
                                    <li>
                                        {% if d.children %}
                                       
                                        {{ d.name }}
                                        <ul>
                                            {% for f in d.children %}
                                            <li>
                                                <a id="{{item.name}}\\{{d.name}}\\{{f.name}}" class="text-muted"
                                                   data-toggle="collapse"
                                                   onclick="m(this.id);href='#display';">{{f.name}}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% else %}
                                                <a id="{{item.name}}\\{{d.name}}" class="text-muted"
                                                   data-toggle="collapse"
                                                   onclick="m(this.id);href='#display';">{{d.name}}</a>
                                    {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-9">
                            <h6>
                                Total Products <span class="label label-info">{{ tree.children|length }}</span>
                            </h6>
                        </div>
                        <div class="col-lg-3">
                            <a id="addDict" href="#menu" class="btn btn-sm btn-primary pull-right"
                               data-toggle="collapse"
                               role="menu" aria-expanded="false" onclick="switchVisible();">Add Object</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-md-9" id="divDisplay">
            <div class=" panel-default">
                <div class="panel-body">
                    <div class="collapse menu" id="display" tabindex="-1" role="dialog" aria-labelledby="">
                        <div class="modal-content modal-smll" role="document">
                            <div class="modal-content" id="textareaContent">
                                <div class="modal-header">
                                    <button type='button' class='close'
                                            onclick='$(this).parent().parent().parent().parent().parent().parent().parent().hide();'>
                                        ×
                                    </button>
                                    <center>
                                        <h6>Update Dictionary</h6>
                                    </center>
                                </div>
                                <div class="modal-body" id="update1">

                                </div>

                                <div class="modal-footer">
                                    <div class="row">
                                        <center>
                                            <button id="button" class="btn btn-primary "
                                                    data-toggle="modal" onclick="validate();">
                                                Update
                                            </button>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-md-9" id="addDictionary">
            <div class=" panel-default">
                <div class="panel-body">
                    <div class="collapse menu" id="menu" tabindex="-1" role="dialog" aria-labelledby="" width="75%">
                        <div class="modal-content modal-smll" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type='button' class='close'
                                            onclick='$(this).parent().parent().parent().parent().parent().parent().parent().hide();'>
                                        ×
                                    </button>
                                    <center>
                                        <h6>Add New Dictionary</h6>
                                    </center>
                                </div>

                                <div class="modal-body">
                                   
                                    <table>
                                        <tr>
                                            <div class="col-xs-3 col-md-3">
                                                <label for="DictionaryClass">Product</label>
                                                <select id="DictionaryClass" class="form-control"
                                                        style="height:40;"
                                                        onchange="displayDictionary();">
                                                    <option selected>Select Product</option>
                                                    {% for item in tree.children %}
                                                    <option type="{{ item.name }}">{{ item.name }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div id="mydivtag" class="">

                                            </div>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <center>
                                            <button id="DownloadButton" class="btn btn-primary "
                                                    data-toggle="modal" onclick="u(this);">
                                                Generate
                                            </button>
                                        </center>
                                        <div class="modal fade" id="myModal" role="dialog">
                                            <div class="modal-dialog" width="900px">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                        <center>
                                                            <h1>Dictionary Name</h1>
                                                        </center>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" action="/create">
                                                            {% csrf_token %}
                                                            <div class="modal-header">
                                                                <center>
                                                                    <label style="font-size: 0.70em">Add Dictionary
                                                                        Name</label>
                                                                    <input class="form-control input-lg classInput" type='text'
                                                                           placeholder="Add Dictionary Name" name='nameFile'/>
                                                                     <input class="form-control input-lg classInput" type='hidden' name='pathFile' id='pathFile'/>
                                                                </center>

                                                            </div>
                                                            <div class="modal-body">
                                                                <div id="generated">
                                                                    <textarea class="form-control"
                                                                              resize="none"
                                                                              name='content'
                                                                              style="width: 100%; height: 55%"
                                                                              readonly="readonly"
                                                                              maxlength='100'>

                                                                    </textarea>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <div class="row">
                                                                    <center>
                                                                        <button type="button"
                                                                                class="btn btn-sm btn-primary pull-right"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <input class="btn btn-sm btn-primary pull-right"
                                                                               type='submit'
                                                                               value='Add'/>
                                                                    </center>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</p>
<script src="../static/js/generateDictionary.js"></script>
<script>
$(document).ready(

function upload() {
    $("#uploadVideoLink").click(

    function uploadTog() {
        $("#divDisplay *:not(#btn)").toggle();
    });
});
/*****************************************/
function f(){
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});}
/******************************************************************************************/
function switchVisible1() {
                    document.getElementById('divDisplay').style.display = 'none';
                    document.getElementById('addDictionary').style.display = 'none';

}
/************************display addDictionary block and hide others***********************/
function switchVisible() {
            if (document.getElementById('divDisplay')) {
                    document.getElementById('addDictionary').style.display = 'block';
                    document.getElementById('divDisplay').style.display = 'none';
            }
}
/*************************** send file name to view.py *********************************/
var tagId = [];
function myFunction(x, y) {
<!--alert( x+'\n'+y);-->
tagId.push({
          val :   x+'\n'+y
        });
}
function validate(){
var json = JSON.stringify(tagId)
    f();
     $.ajax({
          type: "POST",
          cache: true,
          url: "/update/",
          data:  { 'parameter[]' : json , csrfmiddlewaretoken:'{{csrf_token}}' },
            success: function(result) {
            alert('success');
            }
        });
}

  function m(valueSent) {
  if (document.getElementById('addDictionary')) {
                    document.getElementById('divDisplay').style.display = 'block';
                    document.getElementById('addDictionary').style.display = 'none';
            }
  $('#addDictionary').modal('hide')
     var element = $(this);
     $.post(element.attr('href'), { flag: element.data(valueSent)});
    f();
      $.ajax({
          type: "POST",
          cache: true,
          url: "/folder/",
          data:  { id : valueSent },
                success: function(result) {
                    $("#textareaContent textarea").html(result.stat);
                    var html='<table><tr>';
                    var k=0,n=0,j=0;
                        for(var key in result.dict){
                            value = result.dict[key];
                            html +='</tr><tr><th><label >'+value[0]+':<label/></th>';
                            var array = Object.keys(value[1]).map(function(e) {
                              return [e, value[1][e]];
                            });
                            var x;
                            if( value[0] == "attribute")
                            {
                                k++;
                                j=0;
                            }
                            else if (value[0] == "association" ){
                                j++;
                            }
                            for(i=0;i<array.length;i++)
                            {
                                x = valueSent + '#' + key + '@' + j +'&'+k+value[0]+'\t' + array[i][0];
                                html += '<td><label style="font-size: 0.70em">&nbsp;&nbsp;&nbsp;&nbsp;'+array[i][0]+':&nbsp;&nbsp;&nbsp;&nbsp;</label></td>';
                                html += '<td><input align="center" id="'+x+'" class="form-control input-lg" type="text" value="'+array[i][1]+'" onchange="myFunction(this.id, this.value);"/></td>';
                            }
                            }
                    document.getElementById('update1').innerHTML = '<form>'+html+'</tr></table></form>';
                }
        });
}

/************************************************easy-tree**********************************************/
    (function ($) {
        function init() {
            $('.easy-tree').EasyTree({
                addable: false,
                editable: false,
                deletable: false
            });
        }
        window.onload = init();
    })(jQuery)
/******************************************* generate xml file ***********************************************/

function u(x) {
/***************/
var choices = '';
    var els = document.getElementsByClassName('classCheckbox');
    for (var i=0;i<els.length;i++){
      if ( els[i].checked ) {
        choices+= "@"+els[i].id + "#" + els[i].name+":"+els[i].value;
        }
        }
/******************/
var methods = '';
    var els = document.getElementsByClassName('classCheckbox1');
    for (var i=0;i<els.length;i++){
      if ( els[i].checked ) {
        methods+= "@"+els[i].id + "#" + els[i].name+":"+els[i].value;
        }
        }
/***************/
document.getElementById('primaryButton').click();
<!--var t=document.getElementById('primaryButton').value;-->
<!--alert('t='+t);-->
<!--if(t==1)-->
<!--{-->
<!--alert('t='+t);-->
    <!--document.getElementById('primaryButton').value = 0;-->
    <!--return false;-->
<!--}-->
<!--t=0;-->
product = document.getElementById("DictionaryClass").options[document.getElementById("DictionaryClass").selectedIndex].text;
classNum = document.getElementById("DictionaryClassNum").options[document.getElementById("DictionaryClassNum").selectedIndex].text;
obisCode = document.getElementById("obisCode").value;
Description = document.getElementById("Descrip").value;
version = document.getElementById("dictVersion").value;
textareaContent2  = $("#textareaContent2").text();
textareaContent3  = $("#textareaContent3").text();
  var variables = {
    'DictionaryClass': $('#DictionaryClass').val()
  };
f();
$("#DownloadButton").attr('data-target', '#myModal');
  $.ajax({
          type: "POST",
          cache: true,
          url: "/generateXML/",
          data:  { methods1 : methods, checks : choices, product : product, classNum : classNum, textareaContent3: textareaContent3 },
            success: function(result) {

            $("#generated textarea").html(result);
            document.getElementById("pathFile").value = product;
            }
        });
}




</script>
</body>
{% endblock %}

{% block javascript %}

{% endblock %}
